#app{height:100%;padding-top:10px;text-align:center}#app .button{margin-bottom:20px}#app .tweet{max-width:550px;background:#fff;border-radius:10px;margin:5px auto 0}#app .box{margin-bottom:0;border-radius:10px}#app .content small{color:#00d1b2}#app img{border-radius:30px}#app .level-item{padding-left:10px;color:#00d1b2}#app input:focus{border-color:#00d1b2}#app .likes{padding:0 7.5px}#app input{font-weight:700}#app .tweets-move{transition:-webkit-transform 1s;transition:transform 1s;transition:transform 1s,-webkit-transform 1s}
/*# sourceMappingURL=85.e3908163.chunk.css.map */